/* Mini reset, no margins, paddings or bullets */
.drop,
.subdrop {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.drop {			
  margin: 50px auto;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.drop > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.drop a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.drop li:hover {
  background: #e74c3c;
}		

.drop > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.subdrop {
  position: absolute;
  width: 200px;
  left: 50%; 
  margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.subdrop li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.subdrop > li > a {
  padding: 1em 2em;			
}

.subdrop > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.subdrop > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.subdrop > li:nth-child(odd) > a {
  transform: skewX(25deg);
}			

/* Even stuff */
.subdrop > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.subdrop > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

/* Show dropdown */
.subdrop,
.subdrop li {
  opacity: 0;
  visibility: hidden;			
}

.subdrop li {
  transition: .2s ease transform;
}

.drop > li:hover .subdrop,
.drop > li:hover .subdrop li {
  opacity: 1;
  visibility: visible;
}		

.drop > li:hover .subdrop li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.drop > li:hover .subdrop li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}
