.type{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5em;
}
.type h1 {
    margin: 0% auto;
    width: 8em;
    border-right: 1px solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(8) infinite, caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}