.profile {
    font-family: メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    background: url(https://i.imgur.com/1J8fpIo.png) center center fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

img {
    margin: 5px;
}

.line {
    margin-top: 10px;
    width: 200px;
    border-top: 1px solid black;
}

.shiyoukai {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shiyoukai .taiwango {
    flex-basis: 342px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ballin {
    width: 100px;
}

.language {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    width: 70%;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language div {
    width: calc(70%-100px);
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    visibility: hidden;
}