* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    /* border-bottom: 1px solid #000; */
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.page:nth-child(1) {
    background: linear-gradient(180deg, rgba(0, 0, 255, .3), rgba(0, 0, 0, .3));
    background-size: cover;
    background-repeat: no-repeat;
}

.page:nth-child(2) {
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(255, 0, 0, .3));
    background-size: cover;
    background-repeat: no-repeat;
}

.page:nth-child(3) {
    flex-direction: row;
    background: linear-gradient(180deg, rgba(255, 0, 0, .3), rgba(0, 0, 255, .3));
    background-size: cover;
    background-repeat: no-repeat;
}

.page:nth-child(4) {
    background: linear-gradient(180deg, rgba(0, 0, 255, .3), rgba(0, 0, 0, .3));
    background-size: cover;
    background-repeat: no-repeat;
}

.page:nth-child(5) {
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 255, 0, .3));
    background-size: cover;
    background-repeat: no-repeat;
}