<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice Web Design</title>
    <link rel="shortcut icon" href="./beauty.png">
    </link>
    <link rel="stylesheet" href="./style/menu.css">
    <link rel="stylesheet" href="./style/arduino.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./iro.min.js"></script>
    <script src="./js/arduino.js"></script>
</head>

<body>
    <div class="container">
        <div class="nav">
            <script src="./js/header.js"></script>
        </div>
        <div class="outside">
            <div class="content">
                <div class="borad-left">
                    <div id="color-picker-container"></div>
                </div>
                <div class="borad-right">
                    <div class="button-group">
                        <button id="rainbowBtn">Rainbow</button>
                        <button id="gradientBtn">Gradient</button>
                    </div>
                    <div class="color-choose">
                        <div class="choose-one"></div>
                        <div class="choose-two"></div>
                        <div class="choose-three"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>