<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice Web Design</title>
    <link rel="shortcut icon" href="./beauty.png">
    </link>
    <link rel="stylesheet" href="./style/menu.css">
    <link rel="stylesheet" href="./style/profile.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
    <div class="container">
        <div class="nav">
            <script src="./js/header.js"></script>
        </div>
        <div class="profile">
            <div class="language">
                <img src="./image/profile.jpg" />
                <div>
                    <a href="/profile" class="button">Japan</a>
                    <a href="/profile_tw" class="button">Taiwan</a>
                    <a href="/profile_en"class="button">English</a>
                </div>
            </div>
            <span>BALLIN PROFILE</span>
            <span class="line"></span>
            <div class="shiyoukai">
                <img class="ballin" src="./image/ballin.jpg" />
                <div class="eigo">
                    <span>Born in Taiwan 1996.10.01(22)</span><br>
                    <span>Blood type is O.</span>
                    <span>Height 170㎝　Weight 60㎏</span><br>
                    <span>I am Taiwanese.😃<br>
                        YUAN ZE University bachelor's degree.👍<br>
                        Department of Computer Science & Engineering.<br>
                        Challenge and exceed myself, never give up.<br>
                        Keep on the good work and make it come true!</span>
                </div>
            </div>
        </div>
</body>

</html>