<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice Web Design</title>
    <link rel="shortcut icon" href="./beauty.png">
    </link>
    <link rel="stylesheet" href="./style/menu.css">
    <link rel="stylesheet" href="./style/profile.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
    <div class="container">
        <div class="nav">
            <script src="./js/header.js"></script>
        </div>
        <div class="profile">
            <div class="content">
                <img src="./image/profile.jpg" />
                <span>BALLIN PROFILE</span>
                <span class="line"></span>
                <div class="shiyoukai">
                    <img class="ballin" src="./image/ballin.jpg" />
                    <div>
                        <span>台湾出身1996.10.01生まれ(22)</span>
                        <span>血液型O型</span>
                        <span>身長170㎝　体重60㎏</span>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>